body {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}
.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(37, 102, 163, 0.815);
  color: white;
  padding: 10px 20px;
}
.menu-toggle {
  font-size: 24px;
  cursor: pointer;
  display: none;
}
.dashboard {
  display: flex;
  flex-wrap: nowrap;
}
.sidebar {
  width: 200px;
  height: 100vw;
  background: rgb(37, 102, 163);
  color: white;
}
.sidebar ul {
  list-style: none;
  padding: 0;
}
.sidebar li {
  padding: 15px;
  cursor: pointer;
}
.sidebar li:hover {
  background: rgb(2, 130, 250);
}.sidebar ul li i {
  margin-right: 8px;
  color: #555; /* adjust color */
}

.main-panel {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.company-name {
  font-size: 24px;
  margin-bottom: 20px;
}
.cards {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
.card {
  border-radius: 5px;
  padding: 20px;
  background-color: whitesmoke;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.212);
  flex: 1;
  color: #333;
  text-align: center;
}
.card:hover {
  transform: scale(1, 1.05);
  transition: 0.6s;
  color: black;
}
.content {
  background: #f9f9f9;
  padding: 20px;
  min-height: 200px;
}
.alerts {
  width: 250px;
  background:whitesmoke;
  padding: 20px;
}
.alerts ul li{
  list-style: none;
  padding: 10px 10px;
}
table{
  border-collapse: collapse;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.205);
  border-radius: 12px;
  padding: 10px 20px;
  width: 100%;
}
table thead tr{
  border-radius: 12px;
}
table thead tr th{
  padding: 15px 30px;
  background-color: rgb(2, 130, 250);
}
table tbody tr{
  padding: 10px 20px;
}
table tbody tr td{
  background-color: #eee;
  padding: 10px 20px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.699);
}
table tbody tr td:nth-of-type(odd){
  background-color: rgba(2, 130, 250, 0.26);
}
table tbody tr td:nth-of-type(even){
  background-color: rgba(6, 146, 92, 0.308);
}
table tbody tr:hover{
    border-radius: 5px;
    outline: none;
    border: 1px solid rgba(128, 128, 128, 0.445);
}
.actions {
  display: flex;
  height: 100%;
}
.actions button{
  padding: 5px 10px;
  margin: 0.3em;
  color: white;
  background-color: #333;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 15px;
}
#settingsForm button, #setupForm button{
  margin-top: 10px;
  padding: 8px 15px;
  color: white;
  border-radius: 5px;
  font-size: 18px;
  background-color: rgb(21, 159, 214);
  width: max-content;
  border: none;
}
#settingsForm button:hover, #setupForm button:hover{
  background-color: rgba(37, 102, 163, 0.815);
  transition: 0.6s;
}
.form{
  padding: 20px 30px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#setupForm {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  color: #333;
  border-radius: 5px;
}
.setup{
  max-width: 620px;
  width: 100%;
  margin: 20px auto;
  font-family: 'Times New Roman', Times, serif;
}
#setupMessage{
  left: auto;
}
.setup h2{
  text-align: center;
  font-size: 30px;
}
#listingForm, #settingsForm, #setupForm{
  width: 90%;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 5px;
  box-shadow: 3px 5px 5px 3px rgba(0, 0, 0, 0.226);
  padding: 10px 20px;
}
#listingForm input, #settingsForm input, #setupForm input{
  padding: 8px 15px;
  border-radius: 5px;
  font-size: 20px;
  border: 1px solid rgba(128, 128, 128, 0.5);
}
#listingForm textarea, #settingsForm textarea{
  padding: 8px 15px;
  border: 1px solid rgba(128, 128, 128, 0.5);
  font-size: 20px;
  color: black;
  height: 100px;
}
#listingForm input[type="file"]{
  border: 1px solid #333;
}
#listingForm button{
  padding: 10px 20px;
  color: white;
  background-color: rgb(21, 159, 214);
  transition: 0.5s;
  font-size: 20px;
  border-radius: 5px;
  border: none;
}
#listingForm button:hover{
  background-color: rgb(37, 102, 163);
}
#settingsForm button{
  width: max-content;
  padding: 10px 20px;
}
#searchBar{
  width: 80%;
  padding: 10px 20px;
  color: black;
  font-size: 20px;
  border: 1px solid rgba(128, 128, 128, 0.13);
  border-radius: 4px;
}
.listings-grid{
  display: flex;
  flex-wrap: wrap;
  padding: 10px 20px;
  margin-top: 2rem;
  border-top: 1px solid rgb(2, 130, 250);
}
.listing-card{
  box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.336);
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  width: 100%;
  gap: 4px;
  max-width: 300px;
}
.listing-card img{
  width: 96%;
  height: 70%;
}
.settings-container{
  background-color: transparent;
}
.settings-container h3{
  text-align: center;
}
@media (max-width: 768px) {
  .cards{
    display: flex;
    flex-wrap: wrap;
  }
  .dashboard {
    flex-direction: column;
  }
  .menu-toggle {
    display: block;
  }
  .sidebar {
    display: none;
  }
  .sidebar.active {
    display: block;
  }
  .alerts{
    width: 100%;
  }
  table{
    width: 100%;
  }
  table tbody tr td{
    padding: 5px 8px;
  }
  table thead tr{
    padding: 4px;
  }
  table thead tr th{
    padding: 5px 8px;
  }
}